In [2]:
import  pandas as pd
import numpy as np
import math

In [10]:
udemy_df = pd.read_csv("./Dataset/udemy.csv")

In [11]:
udemy_df.head()

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,/course/the-complete-sql-bootcamp/,True,295509,4.66019,4.67874,4.67874,78006,False,84,0,2016-02-14T22:57:48Z,2016-04-06T05:16:11Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,/course/tableau10/,True,209070,4.58956,4.60015,4.60015,54581,False,78,0,2016-08-22T12:10:18Z,2016-08-23T16:59:49Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
2,1361790,PMP Exam Prep Seminar - PMBOK Guide 6,/course/pmp-pmbok6-35-pdus/,True,155282,4.59491,4.59326,4.59326,52653,False,292,2,2017-09-26T16:32:48Z,2017-11-14T23:58:14Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
3,648826,The Complete Financial Analyst Course 2020,/course/the-complete-financial-analyst-course/,True,245860,4.54407,4.53772,4.53772,46447,False,338,0,2015-10-23T13:34:35Z,2016-01-21T01:38:48Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
4,637930,An Entire MBA in 1 Course:Award Winning Busine...,/course/an-entire-mba-in-1-courseaward-winning...,True,374836,4.47080,4.47173,4.47173,41630,False,83,0,2015-10-12T06:39:46Z,2016-01-11T21:39:33Z,455.0,INR,₹455,8640.0,INR,"₹8,640"

In [12]:
udemy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22853 entries, 0 to 22852
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            22853 non-null  int64
 1   title                         22853 non-null  object
 2   url                           22853 non-null  object
 3   is_paid                       22853 non-null  bool
 4   num_subscribers               22853 non-null  int64
 5   avg_rating                    22853 non-null  float64
 6   avg_rating_recent             22853 non-null  float64
 7   rating                        22853 non-null  float64
 8   num_reviews                   22853 non-null  int64
 9   is_wishlisted                 22853 non-null  bool
 10  num_published_lectures        22853 non-null  int64
 11  num_published_practice_tests  22853 non-null  int64
 12  created                       22853 non-null  object
 13  published_time                22853 non-null  object
 14  discount_price__amount        21024 non-null  float64
 15  discount_price__currency      21024 non-null  object
 16  discount_price__price_string  21024 non-null  object
 17  price_detail__amount          22356 non-null  float64
 18  price_detail__currency        22356 non-null  object
 19  price_detail__price_string    22356 non-null  object
dtypes: bool(2), float64(5), int64(5), object(8)
memory usage: 3.2+ MB

In [62]:
udemy_df.isnull().sum()

id                              0
title                           0
url                             0
is_paid                         0
num_subscribers                 0
avg_rating                      0
avg_rating_recent               0
rating                          0
num_reviews                     0
is_wishlisted                   0
num_published_lectures          0
num_published_practice_tests    0
created                         0
published_time                  0
discount_price__amount          0
discount_price__currency        0
discount_price__price_string    0
price_detail__amount            0
price_detail__currency          0
price_detail__price_string      0
dtype: int64

In [16]:
discount_price_mean = udemy_df["discount_price__amount"].mean()

In [17]:
udemy_df["discount_price__amount"].fillna(discount_price_mean, inplace=True)

In [22]:
price_detail_mean = udemy_df["price_detail__amount"].mean()

In [23]:
udemy_df["price_detail__amount"].fillna(price_detail_mean, inplace=True)

In [57]:
udemy_df["discount_price__price_string"].fillna(0, inplace=True)

In [59]:
udemy_df["discount_price__currency"].fillna(0, inplace=True)

In [60]:
udemy_df["price_detail__currency"].fillna(0, inplace=True)

In [61]:
udemy_df["price_detail__price_string"].fillna(0, inplace=True)